<a class='back' routerLink='/'>← <span>Back to glossary</span></a>

<div class='pretitle'>Glossary Entry</div>
<h1>{{term.title}}</h1>

<div class='disclaimer' [class.open]='disclaimerOpen'>
    <div class='disclaimer-header' (click)='disclaimerOpen = !disclaimerOpen'>
        <span>Disclaimer - please read</span>
        <span class='icon' *ngIf='!disclaimerOpen'>+</span>
        <span class='icon' *ngIf='!!disclaimerOpen'>&minus;</span>
    </div>
    <div class='disclaimer-content' *ngIf='disclaimerOpen'>
        <p>The definitions on this website (and published in our Climate Contract Playbook) have been prepared in good faith on a pro bono basis and are free to download and use. The definitions have been drafted and edited by a variety of lawyers and, as such, the approaches to drafting may not conform to any particular drafting norms. We acknowledge this as a consequence of the collaborative drafting process.</p>
        <p>The definitions on this website (and published in our Climate Contract Playbook) are provided on an ‘as is’ basis and without any representation or warranty as to accuracy or that the definitions will achieve the relevant climate goal or any other outcome.</p>
        <p>This website (and the Climate Contract Playbook) do not comprise, constitute or provide personal, specific or individual recommendations or advice of any kind, and do not contain legal or financial advice. The definitions are precedents for legal professionals to use, amend and negotiate using their professional skill and judgement and at their own risk.</p>
        <p>While care has been taken in the drafting of these definitions, neither The Chancery Lane Project nor any of its contributors owe a duty of care to any party in relation to their preparation and do not accept any liability for any errors or omissions, nor for any loss incurred by any person relying on or using these definitions or any other person. Users should use their own professional judgement in the application of these definitions to any particular circumstance or jurisdiction or seek independent legal advice.</p>
        <p>At present, all the definitions are based on the laws of England and Wales. We encourage the conversion of these precedent definitions for use in other jurisdictions.</p>
    </div>
</div>

<h2>Definitions</h2>

<div class='definitions'>
    <div class='definition' *ngFor='let definition of definitions'>
        <div class='definition-header'>{{definition['Option Number']}}</div>
        <p class='definition-content' [innerHtml]='md._(definition.content)'></p>
    </div>
</div>

<ng-container *ngIf='term.drafting_notes'>
    <h2>Drafting Notes</h2>

    <div class='section' [innerHtml]='md._(term.drafting_notes)'></div>
</ng-container>

<ng-container *ngIf='term.application'>
    <h2>Application</h2>

    <div class='section' [innerHtml]='md._(term.application)'></div>
</ng-container>

<ng-container *ngIf='references.length > 0'>
    <h2>References</h2>

    <div class='section'>
        <ng-container *ngFor='let reference of references'>
            <p [innerHtml]='md._(reference)'></p>
        </ng-container>    
    </div>
</ng-container>
