@import '../../common.less';
:host {
    display: flex;
    flex-flow: column;
    align-items: center;
    color: @color-blackish;

    h1 {
        margin: 0 0 0.5em;
        line-height: 1.05;
        font-weight: 400;
        font-size: 3.5em;
        .source-serif-pro;
    }

    p {
        margin: 0 0 1.5em;
        font-size: 1.3em;
        line-height: 1.55;
        .source-sans-pro;
        text-align: center;
    }

    input {
        padding: 4px 8px;
        border-radius: 4px;
        border: 1px solid #888;
        font-size: 1.2em;
        .source-sans-pro;
        margin-bottom: 2em;
    }

    .terms {
        width: 100%;
        display: flex;
        flex-flow: column;
        align-items: flex-start;

        .term {
            line-height: 1.2;
            font-size: 1.5em;
            margin-bottom: 1.2rem;
        }
    }
}