<h1>Glossary entries</h1>
<p>Standard climate-related definitions to help you draft climate-aligned contracts</p>

<div class='filter'>
    <input class='search' placeholder='Search Glossary Terms...' [(ngModel)]='query'/>
    <div class='letters' [class.active]='!query'>
        <a *ngFor='let letter of letters' [class.active]='letter === activeLetter' (click)='activeLetter = letter'>{{letter}}</a>
    </div>
</div>
<div class='terms'>
    <div class='term' *ngFor='let term of terms'>
        <a [routerLink]='["/term", term.id]'>{{term.title}}</a>
    </div>
</div>
